@font-face {
  font-family: "PingFang SC";
  src: url('../font/PingFang-SC-Quasi.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "PingFang-SC-Regular";
    src: url('../font/PingFang-SC-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
