@font-face {
    font-family: "PingFang-SC-Regular";
    src: url('../font/PingFang-SC-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


/*
    arialbd.ttf
*/

@font-face {
    font-family: "arialbd";
    src: url('../font/arialbd.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-极细-简
    PingFang-SC-VeryFine.ttf
*/

@font-face {
    font-family: "PingFang-SC-VeryFine";
    src: url('../font/PingFang-SC-VeryFine.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-细-简
    PingFang-SC-Thin.ttf
*/

@font-face {
    font-family: "PingFang-SC-Thin";
    src: url('../font/PingFang-SC-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-纤细-简
    PingFang-SC-Slender.ttf
*/

@font-face {
    font-family: "PingFang-SC-Slender";
    src: url('../font/PingFang-SC-Slender.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-中粗-简
    PingFang-SC-MediumCoarse.ttf
*/

@font-face {
    font-family: "PingFang-SC-MediumCoarse";
    src: url('../font/PingFang-SC-MediumCoarse.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-中黑-简
    PingFang-SC-MediumBlack.ttf
*/

@font-face {
    font-family: "PingFang-SC-MediumBlack";
    src: url('../font/PingFang-SC-MediumBlack.ttf');
    font-weight: normal;
    font-style: normal;
}


/*
    苹方黑体-准-简
    PingFang-SC-Quasi.ttf
*/

@font-face {
    font-family: "PingFang-SC-Quasi";
    src: url('../font/PingFang-SC-Quasi.ttf');
    font-weight: normal;
    font-style: normal;
}