// $color_main: #226cfb;
// $color_font: #fff;
// $color_font-deep: #333333;
// $color_font-center: #666666;
// $color_font-light: #999999;
// $color_border: #eeeeee;
// $color_background: rgba(52, 56, 63, .2);
//左侧菜单宽度
$igb-sidebar-width: 238px;
//左侧菜单背景色
$igb-sidebar-bg-color:rgba(33, 35, 56, 1);
//左侧菜单边框阴影
$igb-sidebar-box-shadow:0px 3px 18px rgba(0, 0, 0, 0.38);
//按钮渐变
$igb-button-bg:linear-gradient(315deg, rgba(255, 186, 0, 1) 0%, rgba(255, 107, 88, 1) 100%);
// 计算不同分辨率下html的font-size
$html-font-size: 16px;
$refer-width: 1366px;
$device-width: 1025px,
1366px;
$font-sizes: (14px, 16px, 18px, 20px);
// 根据rem为各个元素计算大小
@function computer($px) {
    @return $px / $html-font-size * 1rem;
}