.igb-layout-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left:calc-attr(238);
  height:100%;
  min-height: 100%;
  color: #fff;
  overflow: hidden;
  .igb-wrapper {
    padding-bottom:calc-attr(109 + 72);
    height:100%;
    // height: calc(100% - 72px);
    margin: 0 auto;
    // overflow: hidden;
    overflow-y: auto;
    @include scroll-bar(0);
    .igb-main-page {
      padding: 0 calc-attr(36);
      // width: calc(100% - 72px);
      height: auto;
      margin: 0 auto;
    }
  }
}
