.igb-layout-header {
    width: 100%;
    height: calc-attr(72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(14, 11, 26, 1);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    position: relative;
    .icon-touping {
        display: block;
        width: calc-attr(20.09);
        height: calc-attr(19.15);
        position: absolute;
        right: calc-attr(34.8);
        top: calc-attr(26);
        background: url("../images/icon-toup.png") no-repeat center;
        background-size: 100%;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    .search-box {
        height: inherit;
        display: flex;
        align-items: center;
        .header-icon {
            width: calc-attr(40);
            height: calc-attr(40);
            cursor: pointer;
            margin-left: calc-attr(40.5);
            margin-right: calc-attr(25);
        }
        .header-left {
            background: url("../images/header-icon1.png") no-repeat center;
            background-size: 100%;
            &:hover {
                background: url("../images/header-icon1-hover.png") no-repeat
                    center;
                background-size: 100%;
            }
        }
        .header-home {
            background: url("../images/header-icon2.png") no-repeat center;
            background-size: 100%;
            &:hover {
                background: url("../images/header-icon2-hover.png") no-repeat
                    center;
                background-size: 100%;
            }
        }
        .header-search {
            border: 0;
            width: calc-attr(600);
            height: calc-attr(40);
            background-color: rgba(255, 255, 255, 0.1);
            // background-image: url('../images/header-search.png');
            // background-repeat: no-repeat;
            // background-position:calc-attr(16) center;
            border-radius: 40px;
            display: flex;
            align-items: center;
            // text-indent: 3.5em;
            cursor: text;
            input {
                border: 0;
            }
            i {
                color: rgba(255, 255, 255, 0.5);
                display: block;
                width: calc-attr(18);
                height: calc-attr(18);
                background-image: url("../images/header-search.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                opacity: 1;
                span {
                    color: rgba(255, 255, 255, 1);
                }
            }
            // span {
            //     font-size:calc-attr(14);
            //     font-family: 'PingFang-SC-Regular';
            //     color: rgba(255, 255, 255, .5);
            // }
        }
    }
}
