@import "./sidebar.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./container.scss";
@import "./video.scss";
.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet {
        margin: 0px 19px 0px 0px !important;
        border-radius: 2px;
        width: 44px !important;
        height: 0px !important;
        padding: 0px !important;
        border: 1px solid rgba(255, 255, 255, 1);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        cursor: pointer;
        &:last-child {
            margin-right: 0px;
        }
    }
    .swiper-pagination-bullet-active {
        width: 44px !important;
        border: 2px solid rgba(255, 130, 65, 1);
    }
}
