/*
    input样式
*/

.ant-input {
    width: 100%;
    height: calc-attr(36);
    line-height: calc-attr(36);
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 4px;
    background-color: transparent;
    font-size: calc-attr(14);
    font-family: 'PingFang-SC-Regular';
    color: rgba(255, 255, 255, 1);
    &:focus,
    &:hover {
        border-color: rgba(255, 255, 255, .2);
        box-shadow: none;
    }
}

textarea.ant-input {
    height: calc-attr(92);
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: rgba(255, 255, 255, .2);
}