.ant-message-notice-content {
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
    width: calc-attr(240);
    height: calc-attr(56);
    line-height: calc-attr(56);
    padding: 0px !important;
    .ant-message-custom-content {
        padding: 0px !important;
        height: calc-attr(56);
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            position: relative;
            width: calc-attr(24);
            height: calc-attr(24);
            &::after {
                content: " ";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 999999;
            }
        }
        &.ant-message-info {
            i {
                display: none;
            }
        }
        &.ant-message-success {
            i {
                &::after {
                    background: rgba(0, 0, 0, .7) url("../images/message-success.png") no-repeat center;
                    background-size: 100%;
                }
            }
        }
        &.ant-message-loading {
            i {
                &::after {
                    background: rgba(0, 0, 0, .7) url("../images/message-load.png") no-repeat center;
                    background-size: 100%;
                }
            }
        }
        &.ant-message-error {
            i {
                &::after {
                    background: rgba(0, 0, 0, .7) url("../images/message-error.png") no-repeat center;
                    background-size: 100%;
                }
            }
        }
        span {
            color: rgba(255, 255, 255, .8);
            font-size: calc-attr(16);
        }
    }
}