.order-family-popover,
.order-ktv-popover {
    width: calc-attr(920);
    height: 100vh;
    //height: calc-attr(920);
    // height:calc-attr(100vh -61px -109px);
    padding-bottom: calc-attr(109 + 48);
    left: auto !important;
    right: calc-attr(17);
    top: calc-attr(60) !important;
    box-shadow:0px 3px 24px rgba(0,0,0,0.5);
    //background: url('../images/k/yd-bg.png') no-repeat center;
    //background-size: calc-attr(920) calc-attr(920);
    .ant-popover-content {
        background: transparent;
        height: 100%;
        //overflow: hidden;
        border-radius: 4px;
        .ant-popover-arrow {
            display: none;
        }
        .ant-popover-inner {
            background: transparent;
            border-radius: 0px;
            height: 100%;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            box-shadow: none;
            >div{
                height: 100%;
            }
            .ant-popover-inner-content {
                padding: 0px;
                height: 100%;
            }
        }
    }
}
