/*
    拖拽进度样式
*/

.ant-slider {
    .ant-slider-track {
        background: linear-gradient(45deg, rgba(255, 183, 4, 1) 0%, rgba(255, 114, 81, 1) 100%);
    }
    .ant-slider-rail {
        background-color: rgba(255, 255, 255, .2) !important;
    }
    .ant-slider-handle {
        background-color: #F97647;
        border: solid 2px #F97647;
        &:focus {
            box-shadow: 0 0 0 5px rgba(249, 118, 71, 0.2);
        }
    }
    &:hover {
        .ant-slider-handle {
            background-color: #F97647;
            border: solid 2px #F97647 !important;
            width: calc-attr(18);
            height: calc-attr(18);
            margin-top: calc-attr(-7);
        }
    }
}