.tip-vom {
    .ant-tooltip-content {
        .ant-tooltip-arrow {
            display: none;
        }
        .ant-tooltip-inner {
            min-width: 10px;
            width: calc-attr(35);
            height: calc-attr(162);
            background: url("../images/k/vom-bg.png") no-repeat center;
            background-size: calc-attr(35) calc-attr(162);
            padding: 0px;
            position: relative;
            .vom-box {
                width: calc-attr(35);
                height: calc-attr(50);
                position: absolute;
                bottom: calc-attr(12);
                left: 0px;
                background: linear-gradient(45deg, rgba(255, 181, 7, 1) 0%, rgba(255, 114, 81, 1) 100%);
            }
            .vom-b {
                width: calc-attr(35);
                height: calc-attr(12);
                position: absolute;
                bottom: 0px;
                left: 0px;
                background: url("../images/k/vom-b.png") no-repeat center;
                background-size: calc-attr(35) calc-attr(12);
            }
        }
    }
}
.ant-tooltip-placement-top, .ant-tooltip-placement-topLeft, .ant-tooltip-placement-topRight{padding-bottom: calc-attr(7);}
